.venv
.DS_Store
*.pyc
__pycache__
.env
*.parquet
artifacts/**
!artifacts/**/
!artifacts/pipeline_20epochs/sft_baseline/**/*
!artifacts/pipeline_20epochs/full_distill_baseline/**/*
!artifacts/pipeline_20epochs/**/trainer_state.json
